<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="this is banking page yogesh">

<listeners>
<listener class-name="com.utilites.Reporting"/>
</listeners>


  <test  name="Test">
  <parameter name="browser" value="firefox" />     
  
    <classes>
      <class name="com.testcase.TC_login"/>
       <class name="com.testcase.TC_loginDDT"/>
       <!--class name="com.testcase.TC_addcustomerpage"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
